@using form_submission.Models
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="outercontainer">
        <div class="form-container">
            <form asp-action="Register" asp-controller="Home" method="POST">
                
            <div class="form-group">
                <label asp-for="fName">First Name: </label>
                <input type="text" asp-for="fName">
                <span asp-validation-for="fName"></span>
            </div>

            <div class="form-group">
                <label asp-for="lName">Last Name: </label>
                <input type="text" asp-for="lName">
                <span asp-validation-for="lName"></span>
            </div>

            <div class="form-group">
                <label asp-for="age">Age: </label>
                <input type="number" asp-for="age">
                <span asp-validation-for="age"></span>
            </div>

            <div class="form-group">
                <label asp-for="email">Email: </label>
                <input type="text" asp-for="email">
                <span asp-validation-for="email"></span>
            </div>

            <div class="form-group">
                <label asp-for="password">Password: </label>
                <input type="password" asp-for="password">
                <span asp-validation-for="password"></span>
            </div>

            <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>