@model LoginUser

<form asp-action="Login" asp-controller="LogReg" class="form col-sm-6 text-center p-2">
    <div class="form-group">
        <label class="form-label text-left">Email: </label>
        <input asp-for="LoginEmail" type="text" class="form-input">
        <span class="d-block" asp-validation-for="LoginEmail"></span>
    </div>

    <div class="form-group">
        <label class="form-label text-left">Password: </label>
        <input asp-for="LoginPassword"  type="password" class="form-input">
        <span class="d-block" asp-validation-for="LoginPassword"></span>
    </div>

    <button type="submit" class="text-center w-40 btn btn-primary">Login</button>
</form>