@using crudelicious.Models
@model List<Dish>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to CRUDelicious</h1>
        <div class="topheading d-flex justify-content-between">
            <h3 class="w-50 col-lg-6">Check out Some recent dishes:</h3>
            <a href="/new" class="w-50 col-lg-6">
                <h3 class="text-right">Add a dish</h3>
            </a>
        </div>
        <div class="container bottom-heading">
            <ul>
                @foreach(Dish dish in @Model)
                {
                    <li><a asp-action="Display" asp-route-DishId="@dish.DishId" asp-controller="Home">@dish.Name @dish.DishId</a> by @dish.Chef</li>
                }
                
            </ul>
        </div>
    </div>
</body>
</html>