<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="heading-container">
        <a href="/">Home</a> | 
        <a href="/projects">Projects</a> |
        <a href="/contacts">Contact</a> |
    </div>
    
    <div class="inner-container">
        <h2>This is home</h2>
        <h2>About me</h2>
        <div class="content">
            <div class="profile-card">
                <img src="https://vignette.wikia.nocookie.net/meme/images/f/f9/EGGDOG.jpg/revision/latest/top-crop/width/300/height/300?cb=20190505062618" alt="eggdog">
                <h4>EggDog Boba</h4>
                <p>I like stuff</p>

            </div>
            <div class="text-info">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae aut, ducimus voluptatum alias, magni ipsa sequi pariatur dolore magnam numquam beatae eveniet modi rem reiciendis eum iusto autem tempore. Cumque!
            </div>
        </div>
    </div>
</body>
</html>