<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="heading-container">
        <a href="/">Home</a> | 
        <a href="/projects">Projects</a> |
        <a href="/contacts">Contact</a> |
    </div>

    <div class="inner-container">
        <h2>This is the projects page</h2>
        <h2>Here are some projects of mine</h2>
        <div class="content">
            <div class="projects-card">
                <div class="project-item">
                    <img src="https://media1.tenor.com/images/74dd9d2b6baa02521bb8c3eace05553e/tenor.gif?itemid=17770746" alt="egg" width="150px">
                    <section>
                        Spicy jalapeno bacon ipsum dolor amet landjaeger short ribs corned beef boudin tenderloin kielbasa adipisicing meatball ipsum. Eu mollit dolor cow ground round sunt laboris burgdoggen cupidatat nisi frankfurter capicola ribeye hamburger.
                    </section>
                </div>

                <div class="project-item">
                    <img src="https://media1.tenor.com/images/74dd9d2b6baa02521bb8c3eace05553e/tenor.gif?itemid=17770746" alt="egg" width="150px">
                    <section>
                        Spicy jalapeno bacon ipsum dolor amet landjaeger short ribs corned beef boudin tenderloin kielbasa adipisicing meatball ipsum. Eu mollit dolor cow ground round sunt laboris burgdoggen cupidatat nisi frankfurter capicola ribeye hamburger.
                    </section>
                </div>

                <div class="project-item">
                    <img src="https://media1.tenor.com/images/74dd9d2b6baa02521bb8c3eace05553e/tenor.gif?itemid=17770746" alt="egg" width="150px">
                    <section>
                        Spicy jalapeno bacon ipsum dolor amet landjaeger short ribs corned beef boudin tenderloin kielbasa adipisicing meatball ipsum. Eu mollit dolor cow ground round sunt laboris burgdoggen cupidatat nisi frankfurter capicola ribeye hamburger.
                    </section>
                </div>

                <div class="project-item">
                    <img src="https://media1.tenor.com/images/74dd9d2b6baa02521bb8c3eace05553e/tenor.gif?itemid=17770746" alt="egg" width="150px">
                    <section>
                        Spicy jalapeno bacon ipsum dolor amet landjaeger short ribs corned beef boudin tenderloin kielbasa adipisicing meatball ipsum. Eu mollit dolor cow ground round sunt laboris burgdoggen cupidatat nisi frankfurter capicola ribeye hamburger.
                    </section>
                </div>

                <div class="project-item">
                    <img src="https://media1.tenor.com/images/74dd9d2b6baa02521bb8c3eace05553e/tenor.gif?itemid=17770746" alt="egg" width="150px">
                    <section>
                        Spicy jalapeno bacon ipsum dolor amet landjaeger short ribs corned beef boudin tenderloin kielbasa adipisicing meatball ipsum. Eu mollit dolor cow ground round sunt laboris burgdoggen cupidatat nisi frankfurter capicola ribeye hamburger.
                    </section>
                </div>

            </div>
            
        </div>
    </div>
</body>
</html>