@using viewmodel_fun.Models
@model List<User>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="outercontainer">
        <div class="innercontainer">
            <h3>success</h3>
            <h3>This is your single user using models class:</h3>
            <div class="number-container">
            @foreach (var item in @Model)
            {
                <p>@item.fName @item.lName</p>
            }
            </div>
        </div>
    </div>
</body>
</html>