
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="container outercontainer">
        <div class="innercontainer container">
            <h3 class="text-center">Add a chef</h3>
            <h4 class="text-right"><a href="/">Go Back</a></h4>
            <form asp-action="AddChef" asp-controller="Home" method="POST">
                <partial name="ChefPartial"/>
            </form>
            
        </div>
    </div>
</body>
</html>