@using bank_accounts.Models


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container outercontainer">
        <div class="container innercontainer">
            
            <div class="register-container">
                <h2>Register</h2>
                <form asp-action="Register" asp-controller="Home" method="POST" class="form register-form">
                    <partial name="UserPartial"/> 
                </form>
                <a href="/login">Already Registered?</a>
            </div>
            
        </div>
    </div>
</body>
</html>